.idea/
*.log
*.zip
*.svg
*.pyc
*.png
*.pdf
.ipynb_checkpoints
# Linux 输出文件
*.out
*.csv
*.mp4
*.weights

# 忽略章节目录
# 李宏毅 机器学习2021/2022
Lhy_Machine_Learning/
OpenCV_基础教程/

# 训练后的权重文件
*.pt

# Mac
.DS_Store

# 忽略csv文件, 要下载csv, 使用url进行下载后再存放在代码
# *.csv
result/
train_data/*
data/*

# jupyter忽略文件
.ipynb_checkpoints/
training_checkpoints/

static/
logs/
SQLData/
aDataFiles/

__pycache__/
